*{
    margin:0px;
    padding:0px;
    color:white;
    font-family: 'Lato', sans-serif;
}
.topSection{
    height:580px;
    background-color:#047AED;
}
.topNavbar{
    margin:0 13.78%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding:0 2.62%;
    height:70px;
}
.ulStyle{
    display:grid;
    margin-left:40%;
    list-style-type:none;
    grid-template-columns:repeat(3,1fr);
    padding-top:22px;
    font-size:20px;
}
.liStyle{
    margin-right:4%;
    height:39.2px;
    padding:10px;
    margin:0 5px;
}
.h1Style{
   padding-top:15px; 
}

/* top navbar design */
.infoSection{
    display:flex;
     margin:0 13.78%;
     padding:0 2.62%;
}
.textInfo{
   width:56%;
   margin:150px 0 0;
   padding:0px;
}
.formInfo{
    width:36%;
    margin-left:7%;
    margin-top:95px;
    padding:2.63%;
    background-color:white;
    border-radius:20px;
    padding-bottom:45px;
    padding-top:50px;
}
.submitBtn{
    width:18%;
    font-size:13px;
    height:55px;
    border-radius:10px;
    border:1px solid white;
    background-color:#047AED;
}

.inputField{
    width:100%;
    margin-bottom:0px;
    border-bottom:1px solid  #333333;
    border-top:0px;
    border-right:0px;
    border-left:0px;
    padding-bottom:10px;
    margin-bottom:30px;
    color:black;
}
.formBtn{
    width:27%;
    height:35px;
    border-radius:6px;
    border:1px solid white;
    background-color:red;
    margin-top:20px;
}
/* top section end */
.welcome{
    margin:0 13.78%;
    padding:0 2.62%;
    background-color:white;
    height:600x;
    padding-top:20px;
}
#welcomeH1{  
   text-align:center;
   font-size:18px; 
   color:#333333;
}
.h1Welcome{
   width:46%;
   margin:10px auto; 
   height:60px;
}
.gridMiddle{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    text-align:center;
    margin:0px;
    height:156px;
    padding:0px;
}
.iconStyle{
    width: 15% !important;
    height:48px;
    background-color:#333333;
}
.color333{
    color:#333333;
    font-size:35px;
}
.color1C3{
    color:#1C3FA8;
    font-size:20px;
}
/*  */
.cliSection{
    display:flex;
    margin-top:30px;
}
.cliImg{
   width:63%;  
}
.cliImg img{
    width:100%;
    color:white!important;
    background-color: white!important;
}
.cliText{
  display:grid;
  width:27%;
  margin-left:5%;
  grid-template-rows: repeat(2,1fr);
}
.cliDesign{
margin:3%;
height:80px;
padding-top:20px;
border-radius:10px;
box-shadow: 0 3px 10px gray;
}
.h2Cli{
    padding:0 5px;
    text-align:center;
    color:black; font-size:16px;
}
/*  */
.cloudHosting{
    background-color:#047AED;
    height:390px;
    display:flex;
    padding:0 16.4%;
}
.cloudText{
   width:58%;
   margin-top:90px;
   height:177px;
}
.cloudImg{
    margin-left:6%;
    width:36%;
    margin-top:50px;
    height:260px;
}
.cloudImg img{
    width:100%;
}
.language{
    display:flex;
    height:320px;
    margin:0 13.78%;
    padding:0 2.62%;
}
.languagedisplay{
    margin-top:20px;
    border-radius:10px;
    box-shadow: 0px 5px 10px gray;
    padding:20px;
    height:155px;
    margin-right:2%;
    text-align:center!important;
    transition:margin-top 0.3s linear;
   
}
 .languagedisplay:hover{
     margin-top:5px;
   
}
.languagedisplay img{
    height:80px;
}
.h4{
    font-size:20px;
    padding:10px;
}
.supportedLanguage{
    display:grid;
    grid-template-rows: repeat(1,fr);
}
.h3Language{
    margin:0px auto;
    margin-top:25px;
    margin-bottom:35px;
}
.footer{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding:0 17%;
    background-color:#002240;
    height:150px;
    padding-top:50px;
}
.pagerenderUl li{
   width:100%;
   list-style-type:none;
}
.iconbottom{
    font-size:30px;
    margin-right:20px;
}
@media (max-width:767px){
    .submitBtn{
        width:100px;
    }
    .topSection{
        width:100%;
        height:800px;
    }
    .gridTop1{
        padding-top:14px!important;
    }
    .topNavbar{
        margin:0 0px;
    }
    .ulStyle{
        margin-left:0px ;
    }
    .infoSection{
        display:grid;
        grid-template-rows: repeat(2,1fr);
        margin-top:0px;
    }
    .textInfo{
        margin-top:25px;
        margin-bottom:10px;
        padding-left:20px;
        width:80%;
        margin-left:8%;
        margin-right:12%;
        
    }
    .formInfo{
        margin-top:0px;
        height:350px;
        width:80%;
        margin-left:10%;
        margin-right:10%;
        padding:20px;
    }
    .h1Welcome{
        width:85%;
    }
    .color333{
        font-size:20px;
    }
    .cliDesign{
       font-size:12px;
       margin-left:0%;
       padding:0px;
       height:75px;
    }
    .cliText{
        width:50%;
    }
    .cliImg{
        width:56%;
    }
    .cliImg img{
        height:100px;
        width:100%;
    }
    .cloudText h2{
        font-size:18px!important;
        width:200px;
    }
    .cloudText p{
        font-size:12px!important;
    }
    .cloudImg{
        margin-top:120px;
        height:300px;
        width:300px;
    }
    .language{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        margin-left:20px;
        grid-gap:15px;      
        margin-top: 0px !important;
    }
    .h3Language{
        height:30px;
        margin-top:50px;
        padding-bottom:0px;
    }
    .supportedLanguage{
        height:650px;
        display:block;
        text-align:center;
    }
    .iconbottom{
        font-size:20px;
        margin-right:0px;
    }
    .link{
        padding-left:20px;
    }
    .copyright h1{
        font-size:19px;
    }
    .copyright p{
        font-size:14px;
    }
}
@media (max-width:1000px){
    .cloudText h2{
        font-size:22px!important;
    }
    .cloudText p{
        font-size:14px!important;
    }
    .readBtn{
        width:100px;
    }
    
}